Flask==0.10.1
Flask-Bootstrap==3.2.0.2
Flask-WTF==0.10.2
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
distribute==0.6.24
flake8==2.2.3
gevent==1.0.1
greenlet==0.4.4
gunicorn==19.1.1
ipdb==0.8
ipython==2.3.0
itsdangerous==0.24
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1
requests==2.4.3
wsgiref==0.1.2
