[core]
        repositoryformatversion = 0
        filemode = true
        bare = false
        logallrefupdates = true
        sharedRepository = group
[remote "origin"]
        fetch = +refs/heads/*:refs/remotes/origin/*
        url = git@github.com:mizjogit/sakemon.git
[branch "master"]
        remote = origin
        merge = refs/heads/master
