{% extends "wkbase.html" %}
{% import "bootstrap_wtf.html" as wtf %}
{% set active_page = '/graph' %}
{%- block bootstrap_js_bottom %}
     {{ super() }}
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script type="text/javascript">

    (function($){ // encapsulate jQuery

        $(function() {
            var seriesOptions = [],
                yAxisOptions = [],
                seriesCounter = 0,
                names = ['0', '1', '2', '3'],
                colors = Highcharts.getOptions().colors;

            $.each(names, function(i, name) {
                $.getJSON('/jsond/'+ name,   function(data) { 

                    seriesOptions[i] = {
                        name: name,
                        data: data
                    };
                    seriesCounter++;

                    if (seriesCounter == names.length) {
                        createChart();
                    }
                });
            });

            // create the chart when all data is loaded
            function createChart() {

                chart = new Highcharts.StockChart({
                    chart: {
                        renderTo: 'container'
                    },
                    series: seriesOptions
                });
            }

        });
    })(jQuery);

    </script>
{%- endblock %}
{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Temperatures</h3>
        </div>
         <blockquote>
            Temperatures as a graph
         </blockquote>
    </div>
    <div class="container" id="container">
    </div>
{% endblock %}
