{% extends "wkbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = '/graph' %}
{%- block scripts %}
     {{ super() }}
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/stock/highcharts-more.js" type="text/javascript"></script>
    <script type="text/javascript">
    (function($){ // encapsulate jQuery
        $(function() {
            var seriesOptions = [],
                yAxisOptions = [],
                navData = [],
                seriesCounter = 0,
                names = ['0', '1', '2', '3', 'h0'],
                colors = Highcharts.getOptions().colors;

            $.getJSON('/jsond/nav', function(data) { 
                navData = data;
            });
            $.each(names, function(i, name) {
                $.getJSON('/jsond/'+ name, function(data) { 
                    seriesOptions[i] = {
                        name: "Sensor " + name,
                        data: data
                   }; 
                   if (name == 'h0') {
                        seriesOptions[i].yAxis = 1;
                        seriesOptions[i].type = 'line';
                    } else {
                        seriesOptions[i].yAxis = 0;
                        seriesOptions[i].type = 'arearange';
                    }
                    seriesCounter++;
                    if (seriesCounter == names.length) {
                        createChart();
                    }
                });
            });

            function afterSetExtremes(e) {
                var chart = $('#container').highcharts();

                chart.showLoading('Loading data from server...');
                $.each(names, function(ii, name) {
                    $.getJSON('/jdata/' + name + '?start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?', function (data) {
                        chart.series[ii].setData(data.data);
                        chart.hideLoading();
                    })
                .error(function(jqXHR, textStatus, errorThrown) {
                      console.log("error " + textStatus);
                      console.log("thrown " + errorThrown);
                    });
                });
            }

            // create the chart when all data is loaded
            function createChart() {
                chart = new Highcharts.StockChart({
                    chart: {
                        renderTo: 'container'
                    },
                    scrollbar: {
                        liveRedraw: false
                    },
                    series: seriesOptions,
                    navigator : {
                        adaptToUpdatedData: false,
                        series : {
                            data: navData
                        }
                   },
                    rangeSelector : {
                        buttons: [{
                            type: 'hour', count: 1, text: '1h'
                        }, {
                            type: 'day', count: 1, text: '1d'
                        }, {
                            type: 'month', count: 1, text: '1m'
                        }, {
                            type: 'year', count: 1, text: '1y'
                        }, {
                            type: 'all', text: 'All'
                        }],
                        inputEnabled: false, // it supports only days
                        selected : 4 // all
                    },
                    xAxis : {
                        events : {
                            afterSetExtremes : afterSetExtremes
                        },
                    },
                    yAxis: [{
                        title: {
                            text: 'Temperature Range',
                        },
                    }, {
                        title: {
                               text: 'Humidity',
                        },
                        top: '75%',
                        offeset: 50,
                        height: '45%'
                    }],
                });
            }

        });
    })(jQuery);

    </script>
{%- endblock %}

{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Temperatures</h3>
        </div>
         <blockquote>
            Temperatures as a graph
         </blockquote>
    </div>
    <div class="container" id="container">
    </div>
{% endblock %}
