{% extends "wkbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = '/graph' %}
{%- block scripts %}
     {{ super() }}
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/stock/highcharts-more.js" type="text/javascript"></script>
    <script type="text/javascript">
    (function($){ // encapsulate jQuery
        $(function() {
            var seriesOptions = [],
                yAxisOptions = [],
                navData = [],
                seriesCounter = 0,
               //  names = [{sensors|safe}],
                sensors = {
                    {% set counter = 0 %}
                    {%- for ii in sensors -%}
                        '{{ii.label}}': {slot: {{counter}}, sclass: '{{ii.sclass}}', name: '{{ii.name}}'},
                        {% set counter = counter + 1 %}
                    {%- endfor -%} },
                sensor_count = Object.keys(sensors).length,
                colors = Highcharts.getOptions().colors;

            $.getJSON('/jsond/nav', function(data) { 
                navData = data.data;
            });
            var i = 0;
            $.each(sensors, function(label, sensor) {
                $.getJSON('/jsond/'+ label, function(data) { 
                    seriesOptions[sensor.slot] = {
                        name: label,
                        data: data.data
                   }; 
                   if (sensor.sclass == 'HUM') {
                        seriesOptions[sensor.slot].yAxis = 1;
                        seriesOptions[sensor.slot].type = 'line';
                    } else {
                        seriesOptions[sensor.slot].yAxis = 0;
                        seriesOptions[sensor.slot].type = 'arearange';
                    }
                    seriesCounter++;
                    if (seriesCounter == sensor_count) {
                        createChart();
                    }
                });
                i++;
            });

            function afterSetExtremes(e) {
                var chart = $('#container').highcharts();

                chart.showLoading('Loading data from server...');
                $.each(sensors, function(label, sensor) {
                    $.getJSON('/jdata/' + label + '?start=' + Math.round(e.min) + '&end=' + Math.round(e.max) + '&callback=?', function (data) {
                        chart.series[sensor.slot].setData(data.data);
                        chart.hideLoading();
                    })
                .error(function(jqXHR, textStatus, errorThrown) {
                      console.log("error " + textStatus);
                      console.log("thrown " + errorThrown);
                    });
                });
            }

            // create the chart when all data is loaded
            function createChart() {
                chart = new Highcharts.StockChart({
                    chart: {
                        renderTo: 'container'
                    },
                    scrollbar: {
                        liveRedraw: false
                    },
                    series: seriesOptions,
                    navigator : {
                        adaptToUpdatedData: false,
                        series : {
                            data: navData
                        }
                   },
                    rangeSelector : {
                        buttons: [{
                            type: 'hour', count: 1, text: '1h'
                        }, {
                            type: 'day', count: 1, text: '1d'
                        }, {
                            type: 'month', count: 1, text: '1m'
                        }, {
                            type: 'year', count: 1, text: '1y'
                        }, {
                            type: 'all', text: 'All'
                        }],
                        inputEnabled: false, // it supports only days
                        selected : 4 // all
                    },
                    xAxis : {
                        events : {
                            afterSetExtremes : afterSetExtremes
                        },
                    },
                    yAxis: [{
                        title: {
                            text: 'Temperature Range',
                        },
                        height: '80%',
		        offset: 50 

                    }, {
                        title: {
                               text: 'Humidity',
                        },
                        top: '70%',
                        offset: 100,
                        height: '50%'
                    }],
                });
            }

        });
    })(jQuery);

    </script>
{%- endblock %}

{% block body_with_flasher %}
    <div class="container">
         <blockquote>
            Temperatures as a graph
         </blockquote>
    </div>
    <div class="container" id="container" style="min-width: 800px; max-width: 1200px; height: 650px; margin: 0 auto"> 
    </div>
{% endblock %}
