{% extends "wkbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = '/status' %}
{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Status Page</h3>
        </div>
         <blockquote>
            Temperatures as a table
         </blockquote>
    </div>
    <div class="container">
        <table class="table">
        <thead>
          <tr>
              <th>Probe Number</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Time</th>
          </tr>
        </thead>
        <tbody>
         {% for row in vals %}
            <tr>
                <div {# class="active-div" #}
                     timeout=1000
                     href="http://josh:8088/bmanagea/block?bid=1&okredir=http://josh:8080/pstatus/{{row.probe_number}}">
                    <td>{{ row.probe_number }}</td>
                    <td>{{ row.temperature }}</td>
                    <td>{{ row.humidity }}</td>
                    <td>{{ row.timestamp.ctime() }}</td>

                 </div>
            <tr>
         {% endfor %}
        <tbody>
    </table>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script src="{{url_for('static', filename='js/active-div.js')}}" type="text/javascript"></script>
{% endblock %}
