{% extends "wkbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = '/status' %}

{%- block scripts %}
    {{ super() }}
    <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{url_for('static', filename='js/active-div.js')}}" type="text/javascript"></script>
    <script type="text/javascript">
    (function($){ // encapsulate jQuery


     $(function() {

        $('#dial').highcharts({
        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Probe 0'
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },

        // the value axis
        yAxis: {
            min: -20,
            max: 100,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'deg C'
            },
            plotBands: [{
                from: -20,
                to: 0,
                color: '#55BF3B' // yellow
            }, {
                from: 0,
                to: 60,
                color: '#DDDF0D' // green
            }, {
                from: 60,
                to: 100,
                color: '#DF5353' // red
            }]
        },

        series: [{
            name: 'Speed',
            data: [80],
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    },

        function (chart) {
            if (!chart.renderer.forExport) {
                    var point = chart.series[0].points[0];
                    point.update( {{ vals[0].temperature }} );
            }
        });

});
    })(jQuery);
   </script>
{%- endblock %}


{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Status Page</h3>
        </div>
         <blockquote>
            Probe Status
         </blockquote>
    </div>

    <div class="container" id="dial" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>

    <div class="container">
        <table class="table">
        <thead>
          <tr>
              <th>Probe Number</th>
	      <th>Probe Label</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Time</th>
          </tr>
        </thead>
        <tbody>
         {% for row in vals %}
                <tr class="active-div" 
                     timeout=1000
                     href="http://{{servahost}}/bmanagea/block?bid={{row.probe_number}}&okredir={{url_for('pstatus', sensor=row.probe_number, _external=True)}}">
                    <td>{{ row.probe_number }}</td>
		    <td>{{ probe_labels[row.probe_number] }}</td>
                    <td>{{ row.temperature }}</td>
                    <td>{{ row.humidity }}</td>
                    <td>{{ row.timestamp.ctime() }}</td> 
                 </tr>
         {% endfor %}
        <tbody>
    </table>
    </div>


{% endblock %}
