{% extends "wkbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = '/status' %}
{% block body_with_flasher %}
    <div class="container">
        <div class="page-header">
            <h3>Status Page</h3>
        </div>
         <blockquote>
            Temperatures as a table
         </blockquote>
    </div>
    <div class="container">
        <table class="table">
        <thead>
          <tr>
              <th>Probe Number</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>Time</th>
          </tr>
        </thead>
        <tbody>
         {% for row in vals %}
            <tr>
              <td>{{ row.probe_number }}</td>
              <td>{{ row.temperature }}</td>
              <td>{{ row.humidity }}</td>
              <td>{{ row.timestamp.ctime() }}</td>
            <tr>
         {% endfor %}
        <tbody>
    </table>
    </div>
{% endblock %}
